@using Figaros.Entities.Concrete;
@using Figaros.Entities.DTOs.BookingDtos;
@model BookingPostDto
@{
    Setting setting = ViewBag.Settings; 
}

<div class="make_apppointment_area" id="Appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title pl-68">
                    <h3>Make an Appointment</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="appoint_ment_form pl-68">

                    <form class="form-contact contact_form" asp-action="create" asp-controller="Appointment" method="post">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" asp-for="Fullname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" asp-for="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phone number'" placeholder="Enter phone number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder="Enter email">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter message'" placeholder="Enter message">
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <input class="form-control" asp-for="Date" type="date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter date'" placeholder="Enter date">
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <select asp-for="TimeId" class="nice-select form-select wide form-contact form-control" id="default-select">
                                    <option data-display="Saat seçin">Saat seçin</option>

                                    @foreach (var item in ViewBag.Times)
                                    {
                                        <option value="@item.Id">@item.Hour</option>
                                    }

                                </select>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <select asp-for="PriceId" class="nice-select form-select wide mt-3 form-contact form-control" id="default-select">
                                    <option data-display="Servis seçin">Servis seçin</option>

                                    @foreach (var item in ViewBag.Services)
                                    {
                                        <option value="@item.Id">@item.Service</option>
                                    }

                                </select>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <select asp-for="EmployeeId" class="nice-select form-select wide mt-3 form-contact form-control" id="default-select">
                                    <option data-display="Bərbər seçin">Bərbər seçin</option>

                                    @foreach (var item in ViewBag.Employees)
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }

                                </select>
                            </div>

                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="appointMent_info">
                    <div class="single_appontment">
                        <h4>Visit our studio at</h4>
                        <p>
                            Bakı şəhəri, Hüseyn Cavid prospekti
                            1141
                        </p>
                    </div>
                    <div class="single_appontment">
                        <h4>Message us</h4>
                        <p>
                            @setting.Email <br>
                            @setting.Phone
                        </p>
                    </div>
                    <div class="single_appontment">
                        <h4>Working Hours</h4>
                        <p class="d-flex justify-content-between">
                            <span>Monday - Friday</span>
                            <span>:  @setting.MondayFridayWorkHours</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>Saturday & Sunday</span>
                            <span>:  @setting.SaturdayWorkHours</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>