@using Figaros.Shared.Utilities.Results.ComplexTypes;
@model Figaros.Entities.DTOs.OurSalonDtos.OurSalonListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Bizim salon";
}

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>

    <div class="card shadow mb-12">
        <div class="card-header py-3">

            <div class="row align-items-center">
                <h3>Bizim salon</h3>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless" id="professionTable" width="100%" cellspacing="0">
                    <tbody>

                        @foreach (var ourSalon in Model.OurSalons)
                        {
                            <div class="row my-3" style="justify-content: center; display: flex">
                                <div class="col-lg-3 col-md-12">
                                    <img src="~/uploads/OurSalon/@ourSalon.ImageString" alt="@ourSalon.Title" style="height: 300px; width: 300px; border-radius: 50%; object-fit: cover" />
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <p class="card-text"><small class="text-primary-emphasis">@ourSalon.LittleTitle</small></p>
                                    <h5>@ourSalon.Title</h5>
                                    <p class="card-text">@ourSalon.Description</p>
                                    <p class="card-text"><small class="text-body-secondary">Yaranma tarixi - @ourSalon.CreatedDate.ToShortDateString()</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Yenilənmə tarixi - @ourSalon.ModifiedDate.ToShortDateString()</small></p>
                                    <a class="btn btn-warning" asp-area="Manage" asp-controller="oursalon" asp-action="update" asp-route-id="@ourSalon.Id">Yenilə <i class="bi bi-pen-fill"></i></a>
                                </div>
                            </div>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
}

@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger">
        @Model.Message
        <br>
        Dashboard səhifəsinə qayıtmaq üçün <a class="alert-link" asp-area="Manage" asp-controller="Dashboard" asp-action="index">klikləyin.</a>
    </div>
}